<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />
    <title>OL Real Estate</title>

    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='dist/js/libs/v6.1.1-dist/ol.css') }}">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='dist/css/styles.css') }}">
    <!-- <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='dist/node_modules/ol/ol.css') }}"> -->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/navbars/">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js')}}"></script>

    
  </head>
  <body>
    <!-- NAV BAR -->
    <nav class="navbar md-6 sticky-top navbar-dark bg-dark" aria-label="First navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Let The Home Search Begin!</a>
          <form role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div> 

        <!-- PUT BUTTONS HERE --> 
        <div id = "search-filter" class = "filter"> 
        <div class="dropdown">  
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            State 
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#top">Max ...</a></li>
            <li><a class="dropdown-item" href="#top">Min ...</a></li>
            <li><a class="dropdown-item" href="#top">Other ...</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            City
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#top">Max ...</a></li>
            <li><a class="dropdown-item" href="#top">Min ...</a></li>
            <li><a class="dropdown-item" href="#top">Other ...</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Zipcode
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#top">Max ...</a></li>
            <li><a class="dropdown-item" href="#top">Min ...</a></li>
            <li><a class="dropdown-item" href="#top">Other ...</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Price
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#top">Max ...</a></li>
            <li><a class="dropdown-item" href="#top">Min ...</a></li>
            <li><a class="dropdown-item" href="#top">Other ...</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Bed & Baths
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#top">Max ...</a></li>
            <li><a class="dropdown-item" href="#top">Min ...</a></li>
            <li><a class="dropdown-item" href="#top">Other ...</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Home Type
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#top">Max ...</a></li>
            <li><a class="dropdown-item" href="#top">Min ...</a></li>
            <li><a class="dropdown-item" href="#top">Other ...</a></li>
          </ul>
        </div>

        <div class="container-fluid">
          <a class="btn btn-secondary" href="https://public.tableau.com/views/State_Graphs/AK?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">Tableau</a>
        </div>
      </div>
    </nav>


  <!-- LAYERS SIDEBAR -->
  <div class="grid-container">
    <div class="grid-1">
      <div class="sidebar">
        <h2>Filters</h2>
        <input type="radio" name="baseLayerRadioButton" value="baseCountiesGeoJson"> Counties<br>
        <input type="radio" name="baseLayerRadioButton" value="statesGeoJson"> States <br>
        <input type="radio" name="baseLayerRadioButton" value="map" checked> Street View<br>
      </div>
      <div class="state-data">
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/AL?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">AL</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/AK?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">AK</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/AZ?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">AZ</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/AR?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">AR</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/CA?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">CA</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/CO?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">CO</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/CT?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">CT</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/DE?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">DE</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/FL?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">FL</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/GA?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">GA</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/HI?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">HI</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/ID?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">ID</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/IN?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">IN</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/IA?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">IA</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/KS?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">KS</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/KY?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">KY</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/LA?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">LA</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/ME?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">ME</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/MD?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">MD</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/MN?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">MN</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/MS?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">MS</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/MO?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">MO</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/MT?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">MT</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/NE?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">NE</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/NV?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">NV</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/NH?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">NH</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/NJ?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">NJ</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/NY?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">NY</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/NC?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">NC</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/ND?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">ND</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/OH?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">OH</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/OK?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">OK</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/OR?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">OR</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/PA?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">PA</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/RI?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">RI</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/SC?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">SC</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/SD?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">SD</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/TN?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">TN</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/TX?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">TX</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/UT?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">UT</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/VT?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">VT</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/VA?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">VA</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/WA?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">WA</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/WV?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">WV</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/WI?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">WI</a>
        <a class="btn btn-primary" href="https://public.tableau.com/views/State_Graphs/WY?:language=en-US&:display_count=n&:origin=viz_share_link" role="button">WY</a>
      </div>

    </div>

    <div class="grid-2">
      <div id="js-map" class="map"></div>
    </div>
  </div>

    <!-- MAP -->
    
    <script type="text/javascript" src="{{ url_for('static', filename='dist/js/main.js')}}"></script>
    <script  src="{{ url_for('static', filename='dist/js/libs/v6.1.1-dist/ol.js')}}"></script>

    <!-- hover container-->
    <div class="hover-container">
      <span id = "feature-hover"></span>
    </div>

    <!-- overlay container -->
    <div class="overlay-container">
      <span class="overlay-text" id="feature-county"></span><br>
      <span class="overlay-text" id="feature-listing-count"></span><br>
      <span class="overlay-text" id="feature-median-days"></span><br>
      <span class="overlay-text" id="feature-new-listings-count"></span><br>
      <span class="overlay-text" id="feature-price-increased"></span><br>
      <span class="overlay-text" id="feature-price-reduced"></span><br>
    </div>

    <!-- appreciation container -->
    <div class="appreciation-container">
      <span class="appreciation-text" id="aug-prices"></span><br>
      <span class="appreciation-text" id="july-prices"></span><br>
      <span class="appreciation-text" id="june-prices"></span><br>
      <span class="appreciation-text" id="may-prices"></span><br>
      <span class="appreciation-text" id="apr-prices"></span><br>
    </div>

    <!-- LEGEND -->
    <div id="state-legend" class="legend"> 
        <h4> Median Price </br> by State </h4>
        <div><span style="background-color: #fee6ce"></span>217000</div>
        <div><span style="background-color: #fdd0a2"></span>327000</div>
        <div><span style="background-color: #fdae6b"></span>439000</div>
        <div><span style="background-color: #fd8d3c"></span>548000</div>
        <div><span style="background-color: #f16913"></span>659000</div>
        <div><span style="background-color: #d94801"></span>769000</div>
        <div><span style="background-color: #8c2d04"></span>879500</div>
    </div>

  

    <!-- SCRIPT (JS/JQUERY) -->
    <!-- <script src="{{ url_for('static', filename='dist/js/dashboard.js')}}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script> -->

  </body>
</html>
